<head></head>
<div id="userPage">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://placehold.it/100x100" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Marcus Doe
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav ">
                        <li ng-repeat="itm in vm.menus track by $index" ng-class="{'active': $index == 0}">
                            <a href="#tab{{$index}}" data-toggle="tab">
                                <i class="glyphicon" ng-class="itm.icon"></i> {{itm.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="tab-content">
                    <div ng-repeat="itm in vm.menus track by $index" id="tab{{$index}}" class="tab-pane" ng-class="{'active': $index == 0}">
                        <!-- Apply any bg-* class to to the info-box to color it -->
                        <div class="info-box bg-red">
                            <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Likes</span>
                                <span class="info-box-number">41,410</span>
                                <!-- The progress section is optional -->
                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                </div>
                                <span class="progress-description">
      									70% Increase in 30 Days
    							</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
                <!--  <div ng-repeat="itm in vm.menus track by $index" id="tab{{$index}}" ng-class="{active: $index == 0}">
                    <p>{{$index}}</p>
                </div> -->
            </div>
        </div>
    </div>
</div>