.container-deal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 30px;
  background-color: white;
  padding: 15px;
}
.container-deal .img-deal a[name=image-link-deal] img {
  cursor: pointer;
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
}
.container-deal .img-deal .container-price [name=price] {
  margin-bottom: 0px;
  margin-top: 10px;
  border: 2px solid;
  line-height: 30px;
  font-style: italic;
  text-align: center;
}
.container-deal .img-deal .container-price [name=price]::after {
  content: " €";
}
.container-deal .img-deal .container-oldprice [name=oldprice] {
  margin-top: 10px;
  text-decoration: line-through;
  text-align: center;
}
.container-deal .img-deal .container-oldprice [name=oldprice]::after {
  content: " €";
}
.container-deal .detail-deal {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.container-deal .detail-deal [name=title] {
  font-style: oblique;
  text-align: center;
  padding-bottom: 15px;
}
.container-deal .detail-deal [name=description] {
  text-align: center;
  background-color: lightgray;
}
.container-deal .container-degree-online {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}
.container-deal .container-degree-online .container-online {
  color: green;
  margin-bottom: 15px;
}
.container-deal .container-degree-online .container-degree .degree-text {
  line-height: 45px;
  color: lightblue;
  font-weight: bolder;
  text-align: center;
}
