@sizeImage: 100px;
.container-deal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    .img-deal {
        a[name=image-link-deal] {
            img {
                cursor: pointer;
                max-width: @sizeImage;
                max-height: @sizeImage;
                width: @sizeImage;
                height: @sizeImage;
            }
        }
        .container-price {
            [name=price] {
                margin-bottom: 0px;
                margin-top: 10px;
                border: 2px solid;
                line-height: 30px;
                font-style: italic;
                text-align: center;
                &::after {
                    content: " €";
                }
            }
        }

        .container-oldprice{
        	[name=oldprice]{
        		margin-top: 10px; 
        		text-decoration: line-through;
        		text-align: center;
        		&::after {
                    content: " €";
                }
        	}
        }
    }
    .detail-deal {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        [name=title] {
            text-align: center;
            font-style: oblique;
            text-align: center;
            padding-bottom: 15px;
            font-weight: bolder;
        }
        [name=description] {
            text-align: center;
            background-color: lightgray;
        }
    }
    .container-degree-online {
        display: flex;
        flex-direction: column;
        min-width: 100px;
        .container-online {
            margin-bottom: 15px;
            color: green;
            margin-bottom: 15px;
        }
        .container-degree {
            .degree-text {
                line-height: 45px;
                color: lightblue;
                font-weight: bolder;
                text-align: center;
            }
        }
    }
}

.side-right{
	.zone-search, .zone-hot{
		margin-top: 30px; 
		background-color: white; 
		padding: 15px; 
	}
    .zone-hot{
        .title_zone_hot{
            font-weight: bold;
            border-bottom: 2px solid; 
            padding-bottom:5px;  
        }
        .container_zone_hot{
            width: 100%;  
            .item_zone_hot{
                display: flex; 
                flex-direction: row; 
                justify-content: flex-start; 
                flex-wrap: nowrap; 
                align-items: stretch; 
                align-content: stretch; 
                margin-top: 5px; 
                overflow: hidden;
                width: 100%;
                padding: 5px 0px 5px 0px; 
                height: 70px; 
                img{
                    max-height: 50px;
                    //min-width: 50px; 
                    height: 60px; 
                    margin: 5px 10px 5px 0px; 
                    cursor: pointer;
                }
                .detail{
                    .title{
                        font-weight: bold; 
                    }
                    .description{
                        text-overflow: ellipsis;
                    }
                }
            }

        }
    }
}