<head>
    <link rel="stylesheet" href="app/views/main/main.css" />
</head>
<header>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="">
      </a>
     <!--  <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
      <img src="app/images/demo.png" alt="..." class="img-circle"> -->
    </div>
  </div>
</nav>
</header>
<div class="container mainlayout">
    <div class="row mainpage">
        <!--<div ncy-breadcrumb></div>-->
        <div ui-view></div>
    </div>
</div>
<!--<footer>
    <nav class="navbar navbar-default  navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">HO Hong Quan</p>
        </div>
    </nav>
</footer>-->

