form[name=newdeal_form] .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
form[name=newdeal_form] .list-group {
  border-radius: 0px;
  margin-bottom: 0px !important;
}
form[name=newdeal_form] .list-group .hq-list-group-item {
  cursor: pointer;
  border-radius: 0px;
}
form[name=newdeal_form] input.has-error {
  border-color: #d9534f;
}
form[name=newdeal_form] .zone-newdeal {
  background-color: white;
  padding: 30px;
}
form[name=newdeal_form] .zone-newdeal.zone-title .zone-start-date,
form[name=newdeal_form] .zone-newdeal.zone-title .zone-end-date,
form[name=newdeal_form] .zone-newdeal.zone-title .zone-prix,
form[name=newdeal_form] .zone-newdeal.zone-title .zone-code-reduction {
  padding-right: 0px;
  padding-left: 0px;
}
form[name=newdeal_form] .zone-newdeal.zone-title .zone-image {
  margin-top: 25px;
}
form[name=newdeal_form] .zone-newdeal.zone-title .container-thumbnail {
  display: flex;
  flex-direction: column;
}
form[name=newdeal_form] .zone-newdeal.zone-title .container-thumbnail img {
  margin-bottom: 15px;
}
