<form>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <label for="categoryIpt">Category</label>
                <select class="form-control" id="categoryIpt"
                        ng-model="newDeal.categoryId"
                        ng-options="category.id as category.label for category in vm.categories">
                </select>
            </div>

            <div class="form-group">
                <label for="subcategoryIpt">SubCategory</label>
                <select class="form-control" id="subcategoryIpt"
                        ng-model="newDeal.subcategoryId"
                        ng-options="subcategory.id as subcategory.label for subcategory in vm.subcategories"></select>
            </div>
        </div>     

    </div>
</form>
