@using System.Configuration
<!DOCTYPE html>
<html lang="en">
<head>

    <base href="/">

    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache">

    <meta name="viewport" content="width=device-width">
    <title>HotDeals</title>

      

</head>
<body ng-app="HotDeals" ng-cloak>
    <div ui-view class="mainpage"></div> 
   
   @* @Scripts.Render("~/bundles/css")*@
</body>
</html>