@using System.Configuration
<!DOCTYPE html>
<html lang="en">
<head>

    <base href="/">

    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="Pragma" content="no-cache">

    <meta name="viewport" content="width=device-width">
    <title>HotDeals</title>

    <link rel="stylesheet" href="Content/bootstrap.css" />
    @*<link rel="stylesheet" href="Content/angular-toastr.css" />*@
    @*<link rel="stylesheet" href="Content/main.css" />*@
    @*<link rel="stylesheet" href="Content/ag-grid.css" />*@
    @*<link rel="stylesheet" href="Content/theme-fresh.css" />*@
    @*<link rel="stylesheet" href="Content/font-awesome.css" />*@
    <link rel="stylesheet" href="Content/loading-bar.css" type="text/css" media="all" />    

    @*<link rel="stylesheet" href="app/views/home/home.css" />*@

</head>
<body ng-app="HotDeals" ng-cloak>
    <div ui-view></div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/dependencies")
    @Scripts.Render("~/bundles/app")
   @* @Scripts.Render("~/bundles/css")*@
</body>
</html>